html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

img {
    width: 100%;
}

body {
    background: rgb(66,60,210);
    background: linear-gradient(100deg, rgba(66,60,210,1) 8%, rgba(41,40,144,1) 23%, rgba(35,34,135,1) 54%, rgba(244,81,243,1) 100%);
    color: white;
}

/* HEADER */

header {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}


.top-logo img {
    width: 70px;
}

.top-links {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.top-links li {
    list-style-type: none;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    
}

/* HERO SECTION */

.hero {
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 64px;
}

p {
    font-size: 24px;
}
.hero-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-logo img {
    max-width: 500px;
}

/* HOMEPAGE MAIN CONTENT */
.homepage-content {
    width: 80%;
    margin: 60px auto;
    display: flex;
    gap: 80px;
}

.home-text {
    background-color: rgba(255, 255, 255, 0.178);
    padding: 30px;
    border-radius: 10px;
}

h2 {
    font-size: 32px;
}

.homepage-content img {
    width: 50%;
}


/* STAY UPDATED */
.stay-updated {
    width: 50%;
    margin: 200px auto;
    text-align: center;
}

form {
    width: 100%;
}

input[type=text]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(227, 231, 232, 0.509);
}

.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 70px;
}
