/*
===================================
===================================
Global styles

- The is the file for CSS that applies to the entire site.
- Variables, resets, global styles, etc. should be added here.
- This file should be linked to every page on the site.
- We can also add global component styles here (buttons, forms, etc.)
===================================
===================================
*/

/* 
===================================
Resets (box-sizing, normalize, etc.) 
===================================
*/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* 
===================================
Variables (colors, text, spacing, etc.)
===================================
*/

:root {
	/* Color Definitions */
	--color-white: #fff;

	/* Color Assignment */
	--body-background-color: var(--color-white);

	/* Text */

	/* Spacing */

	/* Wrappers */

	/* Media Queries */
}

/* 
===================================
Global Styles (html, body, text, links, etc.)
===================================
*/

html {
	font-size: 16px;
}

body {
	background: rgb(224, 65, 223);
	background: linear-gradient(
		9deg,
		rgba(224, 65, 223, 1) 10%,
		rgba(35, 34, 135, 1) 46%,
		rgba(35, 34, 135, 1) 84%,
		rgba(40, 104, 191, 1) 97%
	);
	color: white;
}

/* Images */

img {
	max-width: 100%;
}

/* Text */

h1 {
	font-family: "Cinzel", serif;
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

p {
	font-size: 24px;
}

/* Links */

a {
	color: white;
	text-decoration: none;
}

/* Lists */

/* Forms */

/* 
===================================
Wrappers (container, flexbox, etc.)
===================================
*/

/* Container */

/* Wrappers */

/* 
===================================
Global Component Styles (buttons, forms, etc.)
===================================
*/

/* Buttons */

/* Forms */

/* HEADER */

header {
	width: 90%;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-logo {
	display: flex;
	gap: 10px;
	align-items: center;
}

.top-logo img {
	width: 70px;
}

.top-links {
	display: flex;
	align-items: center;
	padding-left: 0;
}

.top-links li {
	list-style-type: none;
	padding: 10px;
}

/* HERO SECTION */

.hero {
	width: 70%;
	height: 80vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.hero-text {
	width: 50%;
}
.hero-logo {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-logo img {
	max-width: 650px;
}

/* HOMEPAGE MAIN CONTENT */
.homepage-content {
	width: 80%;
	margin: 60px auto;
	display: flex;
	gap: 80px;
}

.home-text {
	background-color: rgba(255, 255, 255, 0.178);
	padding: 30px;
	border-radius: 10px;
}

.homepage-content img {
	width: 50%;
}

/* STAY UPDATED */
.stay-updated {
	width: 50%;
	margin: 200px auto;
	text-align: center;
}

form {
	width: 100%;
}

input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

[type="submit"],
button {
	margin-left: 10px;
	padding: 10px 30px;
	border: none;
	border-radius: 20px;
	background-color: navy;
	color: beige;
}

/* contact form */
.form-info {
	text-align: center;
}
.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.form-info h2 {
	padding-bottom: 0px;
}
.contact-form input,
.contact-form textarea {
	font-family: var(--body-text);
	width: 70%;
	max-width: 500px;
	border: none;
	border-radius: 4px;
	padding: 10px;
	background-color: var(--white);
}

/* FOOTER */
footer {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	display: flex;
	background-color: rgba(227, 231, 232, 0.509);
}

.footer-content {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
}

.footer-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.footer-logo img {
	width: 70px;
}

/* 
===================================
Media Queries (overriding styles for different screen sizes)
Feel free to change the min/max-width values to whatever you need. Use variables.
===================================
*/

/* Tablet & Smaller */
@media (max-width: 768px) {
}

/* Tablet Only */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Phone Only */
@media (max-width: 480px) {
}
